<h1 style="color:#7d75fc;"> <%= @user.first_name %>'s Profile </h1>

  <%= render partial: 'sign_in' %>

  <% if current_user == @user %>
  <div class="col-md-8">
    <%= render partial: 'items/form', locals: { item: @item } %>
  </div>
  <% end %>

  <div class="col-md-8">
    <%= render partial: 'items/item', locals: { item: @item } %>
